<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="100" layout="column" flex-xs="100">
        <div class="md-padding">
            <h5 class="md-title">Trip Sorter</h5>
            <h5 class="md-subhead">
           select a <i>Departure city</i> and <i>Arrival city</i> to plan your journey !
           <br/>
           Make use of quick filters to find <b>best</b> options
      </h5>
        </div>
        <md-card class="md-whiteframe-3dp">
            <md-card-title>
                <div layout="column" layout-align="start" flex flex-xs="100">
                    <div layout="row" layout-align="start" flex class="md-padding">
                        <md-input-container flex="45" flex-xs="45">
                            <label class="font-light-color"> Departure City </label>
                            <md-select name="favoriteColor" ng-model="data.selectedDeparture">
                                <md-optgroup label="Departure City">
                                    <md-option ng-repeat="departureCity in data.departureCities" ng-value="departureCity">
                                        {{departureCity}}
                                    </md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                        <div flex="10" class="text-align-center" flex-xs="10">
                            <md-button class="md-fab md-button md-ink-ripple hidden-xs" ng-click="userEvents.swapAndSearch()">
                                <->
                            </md-button>
                        </div>
                        <md-input-container flex="45" flex-xs="45">
                            <label class="font-light-color"> Arrival City </label>
                            <md-select name="favoriteColor" ng-model="data.selectedArrival">
                                <md-optgroup label="Arrival City">
                                    <md-option ng-repeat="arrivalCity in data.arrivalCities" ng-value="arrivalCity">
                                        {{arrivalCity}}
                                    </md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout="row" layout-align="start" class="md-padding">
                        <div flex="50" flex-xs="50">
                            <md-radio-group ng-model="data.sortBy" layout="row" ng-click="userEvents.searchDeals()">
                                <md-radio-button value="1" class="md-primary" ng-style="{'display':'inline'}">Cheapest</md-radio-button>
                                <md-radio-button value="2" ng-style="{'display':'inline'}"> Fastest </md-radio-button>
                                <md-radio-button value="3" ng-style="{'display':'inline'}">All <span ng-if="data.recommendedResults.numberOfDeals">({{data.recommendedResults.numberOfDeals}})</span></md-radio-button>
                            </md-radio-group>
                        </div>
                        <div flex="50" flex-xs="50">
                            <md-button class="md-raised md-primary search-button" ng-click="userEvents.searchDeals()">search</md-button>
                            <md-button ng-show="data.recommendedResults.deals" class="md-raised md-default fr" ng-click="userEvents.resetSearch(true)">Reset</md-button>
                        </div>
                    </div>
                </div>
            </md-card-title>
        </md-card>
        <md-card class="md-whiteframe-1dp md-padding" ng-show="data.recommendedResults.deals">
            <md-content>
                <md-list>
                    <md-list-item class="md-2-line" ng-repeat="deal in data.recommendedResults.deals" layout="row" layout-align="start" flex="50" flex-xs="100">
                        <div class="md-list-item-text  ">
                            <h3> <div class="fl">{{deal.departure}} > {{deal.arrival}}</div> <div class="fr" ><b>  <span >  {{ deal.cost }}</span></b>   {{data.recommendedResults.currency}}
                            
                            </div></h3>
                            <h4> <span class="light-text-color">{{deal.transport}}</span>  {{deal.reference}} <span class="light-text-color">  for  {{deal.duration.h}}h  {{deal.duration.m}} </span></h4>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line" ng-if="data.recommendedResults.totalCost" layout="row" layout-align="start" flex="50" flex-xs="100">
                        <div class="md-list-item-text ">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td colspan="2">Total</td>
                                        <td colspan="2" class="text-align-center">{{data.recommendedResults.totalDuration.h}} h {{data.recommendedResults.totalDuration.m}} </td>
                                        <td colspan="2" class="fr">{{data.recommendedResults.totalCost}} {{data.recommendedResults.currency}}</td>
                                    </tr>
                                </tbody>
                                <table>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-card>
    </div>
</md-content>
